body, html {
    margin: 0;
    padding: 0;
    background-color: #0a192f;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Social Icons */
.social-icons {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 10;
}

.social-icons a {
    margin-right: 20px;
}

/* Menu Styling */
.menu-cont {
    position: fixed;
    left: 2%;
    top: 1%;
    display: flex;
    align-items: center;
    z-index: 10;
}

#menu-img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
}

.menu-cont:hover #menu-img {
    transform: scale(1.1) rotate(-45deg);
}

/* Sections */
section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.project-title {
    font-size: 60px;
    color: white;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}
